.table_view.volvo {
height: 50px;
}
ul, ol {
    display: block;
}
ul, ol, li {
    margin: 0;
    padding: 0;
}

.table_view.volvo .item {
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    background: -moz-linear-gradient(center top , #FFFFFF 54%, #F5F5F5 100%) repeat scroll 0 0 transparent;
    border: medium none;
    margin: 6px 10px;
}
.table_view .item {
    border-width: 0 0 1px;
}
.table_view li, .button a, .button div {
    border: 1px solid #CCCCCC;
}
li {
    list-style: none outside none;
}

.category_head {
font-size: 20px;
color: purple;
line-height:45px;
}
.catwrapper {
height: 50px;	
margin: 0 0 0 30px;
}

