{% extends 'park/base.html' %}
{%block content %}
{% if logged_in %}
                        <div class="table_view volvo">
		<a style="text-align:rignt; vertical-text-align:text-top; margin-right=1px;" href='/reg/login'><div class="item" style="display:block; width:70px; float: left">
								<div class="catwrapper" style="margin:0 0 0 10px"><span class="category_head">Logout</span></div>
                            </div></a>
</div>
                        <ul class="table_view volvo" style="clear:both">
                            <a href="/park/list"><li class="item" style="display:block">
								<div class="catwrapper"><span class="category_head">Purchase a Parking Space</span></div>
                            </li></a>
<a href='/park/search'><li class="item" style="display:block">
								<div class="catwrapper"><span class="category_head">Search for a Parking Space</span></div>
                            </li></a>
<a href='/park/contactus'><li class="item" style="display:block">
								<div class="catwrapper"><span class="category_head">Contact Us</span></div>
                            </li></a>
                        </ul>
{% else %}
                        <div class="table_view volvo">
		<a style="text-align:rignt; vertical-text-align:text-top; margin-right=1px;" href='/reg/login'><div class="item" style="display:block; width:70px; float: left">
								<div class="catwrapper" style="margin:0 0 0 10px"><span class="category_head">Login</span></div>
                            </div></a>
		<a style="text-align:rignt; vertical-text-align:text-top; margin-right=1px;" href='/reg/signup'><div class="item" style="display:block; width:100px; float:right">
								<div class="catwrapper" style="margin:0 0 0 10px"><span class="category_head">Sign Up</span></div>
                            </div></a>
</div>
                        <ul class="table_view volvo" style="clear:both">
                            <a href="/park/list"><li class="item" style="display:block">
								<div class="catwrapper"><span class="category_head">Purchase a Parking Space</span></div>
                            </li></a>
<a href='/park/search'><li class="item" style="display:block">
								<div class="catwrapper"><span class="category_head">Search for a Parking Space</span></div>
                            </li></a>
<a href='/park/contactus'><li class="item" style="display:block">
								<div class="catwrapper"><span class="category_head">Contact Us</span></div>
                            </li></a>
                        </ul>

{% endif %}
{% endblock %}

