{% extends "park/base.html"%}
{% block content %}
<style type="text/css">
a.un_img_link {
    display: block;
    height: 68px;
}
h3{
font-family:"Arial";
color:#0033FF;
font-size:25px;
}
input{
font-family:"Arial";
}
</style>
	<ul>
	<h3>Purchase a parking space</h3>
{% if logged_in %}
	  <div style="font-family: Verdana; color: #0000FF; font-size:15px;">User:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ user }}</div>
	  <div style="font-family: Verdana; color: #0000FF; font-size:15px;">Location:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ location }}</div>
	  <div style="font-family: Verdana; color: #0000FF; font-size:15px;">Phone number:&nbsp;&nbsp;{{ phone }}</div>
	  <div style="font-family: Verdana; color: #0000FF; font-size:15px;">Email:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ email }}</div>
	  <div style="font-family: Verdana; color: #0000FF; font-size:10px;">
	  		<form method='post' action="">
				{{ form }}
				<input style="font-family: Verdana; color: #8B008B; font-size:15px;" type='submit' name='Submit'>
			</form>
	  </div>
{% else %}
	  <div style="font-family: Verdana; color: #0000FF; font-size:15px;">Location:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ location }}</div>
	  <div style="font-family: Verdana; color: #0000FF; font-size:15px;">
	  <div style="font-family: Verdana; color: #0000FF; font-size:15px;">
	  		<form method='post' action="">
				{{ form }}
				<input style="font-family: Verdana; color: #8B008B; font-size:15px;" type='submit' name='Submit'>
			</form>
	  </div>
{% endif %}
	</ul>
{% endblock %}

