<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
<link rel='stylesheet' type='text/css' href='/static/base.css' />
<link rel='stylesheet' type='text/css' href='/static/button.css' />
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<title>Smart Park</title>
  </head>

  <body>
<div class="header">
	<h1>Smart Park</h1>
</div>
	
<div class="moduleTab">
        <div class="tabText"><a href="park/list"></a></div>
        <div class="tabControls"></div>
        <div class="clear"></div>
    </div>
	<div id="content">
	{% block content %}
	{% endblock %}
	</div>
	<div align='bottom' style="font-family: Verdana; color: #0000FF; font-size:10px;">Smart Park &copy; All rights reserved</div>
   </body>
</html>

