{% extends "reg/base.html" %}
{% block content %}
{% if logged_in %}
	<div style="font-family: Verdana; color: #0000FF; font-size:20px;">Welcome, {{ user }}</div><ul align="right" class="table_view volvo">
		<a style="text-align:rignt; vertical-text-align:text-top; margin-right=1px;" href='/reg/logout'><li class="item" style="display:block; width:70px;">
								<div class="catwrapper" style="margin:0 0 0 10px"><span class="category_head">logout</span></div>
                            </li></a>
	</ul>
	<ul class="table_view volvo">
		<a href="/park/"><li class="item" style="display:block">
								<div class="catwrapper"><span class="category_head">Enter the Website</span></div>
                            </li></a>
	</ul>
{% else %}
	<p>Welcome new user, Please login.</p>
		<form action="." method="post">
			{{ form.as_p }}
			<input style="font-family: Verdana; color: #8B008B; font-size:15px;" type="submit" value="Submit" />
		</form>
{% endif %}
{% endblock %}
